---
name: __SKILL_NAME__
description: Author a precise description of what __SKILL_NAME__ does and when it should be used.
license: PolyForm-Shield-1.0.0 (see LICENSE.txt)
---

# __SKILL_TITLE__

Author the skill instructions before requesting certification.
